<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2024040116"
    android:versionName="7.1.2.2"
    android:compileSdkVersion="33"
    android:compileSdkVersionCodename="13"
    platformBuildVersionName="13"
    platformBuildVersionCode="33"
    package="com.fdg.flashplay.farsef">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <queries>
        <package android:name="com.tencent.mm"/>
        <package android:name="com.tencent.mobileqq"/>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <category android:name="android.intent.category.OPENABLE"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30"/>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <permission
        android:name="com.fdg.flashplay.farsef.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.fdg.flashplay.farsef.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/FZAppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.flydigi.qiji.FZApplication"
        android:allowBackup="false"
        android:supportsRtl="false"
        android:extractNativeLibs="true"
        android:resizeableActivity="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:hasFragileUserData="true"
        android:requestLegacyExternalStorage="true"
        android:localeConfig="@xml/locale_config"
        android:enableOnBackInvokedCallback="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.fdg.flashplay.farsee.wxapi.WXEntryActivity"
            android:exported="true"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.flydigi.qiji.ui.mall.detail.ProductDetailActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="oplus.compat.features.disable"
            android:value="all"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2"/>
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"/>
        <meta-data
            android:name="commitId"
            android:value="19a0f3027"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.fdg.flashplay.farsef.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"/>
        </provider>
        <activity
            android:theme="@style/FZAppTheme.Splash"
            android:name="com.game.motionelf.activity.ActivityStart"
            android:exported="true"
            android:launchMode="singleInstancePerTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="fdg"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.flydigi.qiji.ui.about_us.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.qiji.ui.contact_us.ContactUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.qiji.ui.about_phone.AboutPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.qiji.ui.customer_service.CustomerServiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.flydigi.qiji.ui.about_us.WechatFollowActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true"/>
        </service>
        <activity
            android:theme="@style/ThemeFullScreen_Translucent"
            android:name="com.flydigi.device_manager.ui.mapping_test.FullScreenDialogActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.flydigi.device_manager.ui.remove_bond.RemoveBondActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.firmware.FirmwareUpgradeActivity"
            android:taskAffinity="com.fdg.flashplay.farsee.firmware"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.connection.KeyboardMouseConnectGuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.driver_active.DriverActivationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:theme="@style/ThemeFullScreen"
            android:name="com.flydigi.device_manager.ui.mapping_test.KeyMappingTestActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.flydigi.device_manager.ui.device_list.DeviceListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.cooperate.cjzc.ui.Activity_CJZC"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.cooperate.cjzc.ui.Activity_CJZC_Config_Manage"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ThemeFullScreen_CJZC"
            android:name="com.flydigi.device_manager.cooperate.cjzc.ui.Activity_CJZC_Listen"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ThemeFullScreen_CJZC"
            android:name="com.flydigi.device_manager.cooperate.cjzc.ui.Activity_CJZC_Listen_Special"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ThemeFullScreen_CJZC"
            android:name="com.flydigi.device_manager.cooperate.cjzc.ui.Activity_Dialog_CreateName"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/ThemeFullScreen_CJZC"
            android:name="com.flydigi.device_manager.cooperate.cjzc.ui.Activity_Dialog_Vertical"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.apex_space.ui.LedSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.OpenFloatWindowNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.setting.GameSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.sync.SyncConfigActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.DetailActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.flydigi.base.ui.StoragePermissionRequestActivity"/>
        <activity
            android:name="com.flydigi.device_manager.ui.connection.EmulatorConnectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.diagnose.DiagnoseActivity"
            android:configChanges="orientation"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.waspwing.WaspwingUpgradeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.waspwing.b6.protection.ProtectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.waspwing.runmode.RunModeSelectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.waspwing.b6.temperature.TargetTemperatureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.waspwing.led.LedActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.waspwing.runmode.ExperimentalRunModeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.waspwing.statistics.StatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.device_manager.ui.detail.waspwing.b6.more.MoreSettingActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name="com.flydigi.device_manager.ui.firmware.DfuService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.android.motionelf.FloatingWindow"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.flydigi.remote.IRemoteService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <activity
            android:name="com.flydigi.community.ui.article.ArticleDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.flydigi.community.ui.comment.detail.CommentDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.flydigi.community.ui.message.MessageCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.community.ui.topic.detail.TopicDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.community.ui.search.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.flydigi.community.ui.my.config.MySharedConfigActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.community.ui.my.article.MyArticleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.community.ui.post.PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity
            android:name="com.flydigi.community.ui.topic.TopicListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.community.ui.my.like.MyLikeArticleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.account.ui.register.RegisterActivity"
            android:taskAffinity=":register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.flydigi.account.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.flydigi.account.ui.reset.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.flydigi.account.ui.user.ProfileNewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.account.ui.user.NicknameEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.account.ui.logoff.LogoffActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.game.ui.search.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name="com.flydigi.game.ui.download.DownloadStatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.game.ui.game_detail.GameDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.game.ui.download.DownloadSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.game.ui.game_cat_detail.GameCatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.cyberfox.ui.connect.ConnectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.cyberfox.ui.upgrade.UpgradeActivity"
            android:taskAffinity="com.fdg.flashplay.farsee.upgrade"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/FZAppTheme"
            android:name="com.iir_eq.ui.activity.LeOtaActivity"
            android:taskAffinity="com.fdg.flashplay.farsee.upgrade"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.iir_eq.ui.activity.LeScanActivity"
            android:taskAffinity="com.fdg.flashplay.farsee.upgrade"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.flydigi.cyberfox.ui.upgrade.FirmwareUpgradeResultActivity"
            android:taskAffinity="com.fdg.flashplay.farsee.upgrade"
            android:screenOrientation="portrait"/>
        <service
            android:name="com.flydigi.cyberfox.h1.services.GAIAGATTBLEService"
            android:exported="false"/>
        <service
            android:name="com.flydigi.cyberfox.h1.services.GAIABREDRService"
            android:exported="false"/>
        <activity
            android:name="com.flydigi.web.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>
        <activity
            android:theme="@style/ImagePreviewTheme"
            android:name="com.flydigi.base.ui.image_preview.ImagePreviewActivity"
            android:launchMode="singleTop"/>
        <service
            android:name="androidx.work.multiprocess.RemoteWorkManagerService"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.Transparent.ImagePicker"
            android:name="com.github.drjacky.imagepicker.ImagePickerActivity"
            android:screenOrientation="unspecified"/>
        <provider
            android:name="com.github.drjacky.imagepicker.ImagePickerFileProvider"
            android:exported="false"
            android:authorities="com.fdg.flashplay.farsef.imagepicker.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths"/>
        </provider>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.fdg.flashplay.farsef.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable.BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.zhihu.matisse.ui.MatisseActivity"/>
        <activity android:name="com.zhihu.matisse.internal.ui.AlbumPreviewActivity"/>
        <activity android:name="com.zhihu.matisse.internal.ui.SelectedPreviewActivity"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.blankj.utilcode.util.UtilsTransActivity"
            android:multiprocess="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider
            android:name="com.blankj.utilcode.util.UtilsFileProvider"
            android:exported="false"
            android:authorities="com.fdg.flashplay.farsef.utilcode.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths"/>
        </provider>
        <service
            android:name="com.blankj.utilcode.util.MessengerUtils.ServerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fdg.flashplay.farsee.messenger"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="rx_activity_result2.HolderActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent101550532"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|keyboardHidden"/>
        <receiver android:name="com.just.agentweb.download.NotificationCancelReceiver"/>
        <provider
            android:name="com.just.agentweb.AgentWebFileProvider"
            android:exported="false"
            android:authorities="com.fdg.flashplay.farsef.AgentWebFileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_files_paths"/>
        </provider>
        <activity
            android:theme="@style/actionActivity"
            android:name="com.just.agentweb.ActionActivity"
            android:exported="false"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>
</manifest>
